
.item
	h3#date1 {{=it.dateX}}
	h2.
		#{title}
	h4.
		#{author}

	img(src= media_url, height='160')

	p.
		#{description}


	p.
		#{sourceUrl}
		#{media_url}
		#{author}


script.
	var cur = '#{id}'
	console.log(cur)

	var media_url = '#{media_url}'
	console.log(media_url)

	loadjs.ready('dbind', function() {
		// show the date
		var local = moment.unix(#{updated}).local()
		var dat = local.format('MMMM Do YYYY') // Z
		console.log(dat)
		bind('date1', 'dateX', dat)
	})

	function bind(eID, field, value) {
		let tmpl = document.getElementById(eID)
		let doIt = doT.template(tmpl.innerHTML)
		let bind = new Object()
		bind[field] = value
		let res = doIt(bind)
		tmpl.innerHTML=res
	}

	loadjs.ready('PRELoadB', function() {
		loadjs(['//cdn.jsdelivr.net/npm/moment@2.22.0/min/moment.min.js'
		, '//cdn.jsdelivr.net/npm/dot@1.1.2/doT.min.js'
		],'dbind')
	})